<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="img/Parkit.png" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"
    />
    <script
      src="https://kit.fontawesome.com/35f36854c5.js"
      crossorigin="anonymous"
    ></script>
    <title>Parkit</title>
  </head>
  <body>
    <!------HEADER------>
    <header>
      <div class="container">
        <nav>
          <a href="" class="logo"
            ><img src="img/Parkit.png" alt="" srcset=""
          /></a>
          <ul class="subnav">
            <li><a href="" class="navhome">HOME</a></li>
            <li class="children">
              <a href=""
                >À propos de nous <i class="fa-solid fa-angle-down"> </i
              ></a>
              <ul>
                <li><a href="" class="navborder">Comment ça fonctionne</a></li>
                <li><a href="">Notre équipe</a></li>
              </ul>
            </li>
            <li><a href="">AVANTAGES</a></li>
            <li><a href="">NOS PARKINGS</a></li>
            <li><a href="">CONTACT</a></li>
          </ul>
        </nav>
        <div class="content">
          <div class="content_child">
            <h1>PARKING IS NO LONGER A CHALLENGE</h1>
            <h3>
              Application en ligne de réservation de places en parking au Maroc.
            </h3>
            <a href="/search">TESTER VOUS MÊME !</a>
          </div>
        </div>
      </div>
    </header>
    <!------MAIN------>
    <!--ABOUT-->
    <section id="about">
      <div class="container">
        <div class="about_child">
          <div class="about_descrip">
            <h1>À propos de nous</h1>
            <p>
              Parkit a pour le but de créer un espace virtuel où on peut
              réserver une place en parking avant même de prendre le route, en
              choisissant la date et la durée de réservation tout ça à un prix
              imbattable.
            </p>
            <p>
              Parkit permet d'éviter l'embouteillage et la mauvaise organisation
              des parkings, ainsi que d'améliorer l'esthétique de la ville
            </p>
            <ul class="check">
              <li><i class="fa-solid fa-check"></i> Prix imbattable</li>
              <li><i class="fa-solid fa-check"></i> Réservation en ligne</li>
              <li><i class="fa-solid fa-check"></i> Éviter l'embouteillage</li>
            </ul>
          </div>
          <div class="about_img">
            <img src="img/car-park.jpg" alt="about us" />
          </div>
        </div>
      </div>
    </section>
    <!-- Application -->
    <section id="application">
      <div class="container">
        <h1 class="title_section">Application Parkit</h1>
        <p>
          Notre application est disponible sur les différents types de
          plateforme, télécharger Parkit et vivez une expérience de parking
          unique
        </p>
        <div class="image">
          <a href=""><img src="img/Appstore.png" alt="" /></a>
          <a href=""><img src="img/playstore.png" alt="" /></a>
        </div>
      </div>
    </section>
    <!--HOW IT WORKS-->
    <section id="works">
      <div class="container">
        <h1 class="title_section">Comment ça fonctionne</h1>
        <div class="works_childs">
          <div class="child">
            <span>1</span>
            <h3>S'identifier</h3>
            <p>
              Tout d'abord il faut s'identifier pour accéder a notre carte
              d'affichage des parkings ainsi que le choix de votre localisation
              pour nous permettre d'afficher les parking proches
            </p>
          </div>
          <div class="child">
            <span>2</span>
            <h3>Réserver</h3>
            <p>
              Après que vous avez choisi le parking et la date et la durée, vous
              devez passer au paiement pour bien réserver votre place dans le
              parking
            </p>
          </div>
          <div class="child">
            <span>3</span>
            <h3>Parquer</h3>
            <p>
              Finalement il vous reste que télécharger votre ticket pour le
              présenter á notre gardien quand vous voulez parquer
            </p>
          </div>
        </div>
      </div>
    </section>
 <!--OUR SERVICES-->
    <section id="service">
      <div class="container">
        <h1 class="title_section">nos avantages</h1>
        <div class="sevice_info">
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-mobile"></i>
            </div>
            <div class="service_child_info">
              <h3>Réservation en ligne</h3>
            </div>
          </div>
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-square-parking"></i>
            </div>
            <div class="service_child_info">
              <h3>Places de secours</h3>
            </div>
          </div>
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-arrow-up-1-9"></i>
            </div>
            <div class="service_child_info">
              <h3>Places numérotées</h3>
            </div>
          </div>
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-video"></i>
            </div>
            <div class="service_child_info">
              <h3>Caméras de Surveillance</h3>
            </div>
          </div>
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div class="service_child_info">
              <h3>Pas d'arnaque</h3>
            </div>
          </div>
          <div class="service_child">
            <div class="service_icon">
              <i class="fa-solid fa-seedling"></i>
            </div>
            <div class="service_child_info">
              <h3>Protection de l'environnement</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--INDUSTRIES-->
    <sectiion id="indus">
      <h1 class="title_section">Nos parking</h1>
      <h4 class="sous_title">
        Exemple de nos parking situés aux différentes villes
      </h4>
      <div class="indus_img">
        <div class="img_container">
          <a href=""><img src="/img/parking1.jpg" alt="" /></a>
          <div class="img_info">
            <div class="img_title">Tanger</div>
          </div>
        </div>
        <div class="img_container">
          <a href=""><img src="/img/parking2.jpg" alt="" /></a>
          <div class="img_info">
            <div class="img_title">Casablanca</div>
          </div>
        </div>
        <div class="img_container">
          <a href=""><img src="/img/parking3.jpg" alt="" /></a>
          <div class="img_info">
            <div class="img_title">Rabat</div>
          </div>
        </div>
        <div class="img_container">
          <a href=""><img src="/img/parking4.jpg" alt="" /></a>
          <div class="img_info">
            <div class="img_title">Tanger</div>
          </div>
        </div>
      </div>
      <div class="indus_icon">
        <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </sectiion>
    <!--WATCH THE VIDEO-->

    <!--TESTIMONIALS-->
    <section id="testimonials">
      <div class="container">
        <h1 class="title_section">TÉMOIGNAGES</h1>
        <div class="testi_content">
          <div class="fleche">
            <a href="#"><i class="fa-solid fa-circle-chevron-left"></i></a>
          </div>
          <div class="descrip">
            <img src="img/mejid.jpg" alt="" />
            <p>
              “Idée génial, ça va nous faciliter la vie à ne pas perdre beaucoup
              de temps en cherchant un parking! Tu prends route en savant que ta
              place est déjà réservée, vraiment "parking is no longer a
              challenge" c'est un rêve qui se réalise avec cette application.”
            </p>
            <span>-Benjelloun Abdelmajid</span>
          </div>
          <div class="fleche">
            <a href="#"><i class="fa-solid fa-circle-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!--CONTACT US-->
    <section id="contact">
      <div class="container">
        <h1 class="title_section">contactez nous</h1>
        <h4 class="sous_title">
          Voir nos nouvelles et mises à jour quotidiennes
        </h4>
        <div class="contact_info">
          <form action="">
            <div class="full_name">
              <div class="name">
                <label for="">Prénom</label>
                <input type="text" name="" id="" />
              </div>
              <div class="name">
                <label for="">Nom</label>
                <input type="text" name="" id="" />
              </div>
            </div>
            <div class="email">
              <label for="">Email</label>
              <input type="text" name="" id="" />
            </div>
            <div class="subject">
              <label for="">Sujet</label>
              <input type="text" name="" id="" />
            </div>
            <div class="message">
              <label for="">Message</label>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <a href="#">Envoyer</a>
          </form>
          <div class="contact_descrip">
            <div class="contact_adress">
              <div>
                <h4>Adresse</h4>
                <p>Technopark, Ave Mohammed V, Tangier 90000</p>
              </div>
              <div>
                <h4>Téléphone</h4>
                <a href="#">+212 612870043</a>
              </div>
              <div>
                <h4>Email</h4>
                <a href="#">parkit23@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Partenaire -->
    <section id="partenaire">
      <div class="container">
        <h1 class="title_section">nos partenaires</h1>
        <div class="image">
          <img src="img/esri.png" alt="" class="esri" />
          <img src="img/iam.png" alt="" class="iam" />
          <img src="img/ministre.png" alt="" class="ministre" />
          <img src="img/geomatic.png" alt="" class="geomatic" />
        </div>
      </div>
    </section>
    <!------FOOTER------>
    <footer>
      <div class="container">
        <div class="footer_content">
          <div class="footer_about">
            <h4>À propos de nous</h4>
            <p>
              Park it notre application qui est sur les pas de voir le jour a le
              but de créer un espace virtuel où on peut réserver une place en
              parking avant même de prendre route,en choisissant la date et le
              délai de réservation tout ça à un prix imbattable.
            </p>
          </div>
          <div class="footer_links">
            <h4>Liens rapides</h4>
            <ul>
              <li><a href="">À propos de nous</a></li>
              <li><a href="">Avantages</a></li>
              <li><a href="">Testimonials</a></li>
              <li><a href="">Contactez nous</a></li>
            </ul>
          </div>
          <div class="footer_follow">
            <h4>Suivez nous</h4>
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer_newsletter">
            <h4>Abonnez-vous à la newsletter</h4>
            <form action="">
              <input type="text" class="text" placeholder="Entrer Email" />
              <button>Envoyer</button>
            </form>
          </div>
        </div>
        <div class="copyright">
          <p>
            Copyright ©2022 All rights reserved | This template is made with
            <i class="fa-solid fa-heart"></i> by Parkit
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>